:root {
    --primary-bg-prime: #6FC2EC;
    --primary-bg-seconde: #9EE090;
    --primary-bg-terze: #FFEA70;
    --primary-bg-quarte: #F5B17A;
    --primary-bg-quinte: #EF9C81;
    --gray-bg-1: #D9D9D9;
    --gray-bg-2: #EBEBEB;
    --black-txt-1: #202020;
    --black-txt-2: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

body {
    font-family: "Noto Sans";
    background-color: var(--gray-bg-1);
}

.bg-class-1 {
    background-color: var(--primary-bg-prime);
}
.bg-class-2 {
    background-color: var(--primary-bg-seconde);
}
.bg-class-3 {
    background-color: var(--primary-bg-terze);
}
.bg-class-4 {
    background-color: var(--primary-bg-quarte);
}
.bg-class-5 {
    background-color: var(--primary-bg-quinte);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.cellContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    align-self: stretch; /* Stretch cells to fill grid rows */
}

.className {
    text-align: center;
    font-size: 50px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    margin: 0 5%;
}

.icon {
    font-size: 42px;
    align-items: center;
    margin: auto 0;
    justify-content: center;
}

.roomText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 42px;
}

.grid-hr {
    width: 90%;
    height: 2px;
    border-radius: 2px;
    border: none;
    background-color: var(--black-txt-2);
}

.groupContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: calc(98% - 40px);
    height: calc(100% - 70px); /* Ensure it fills the entire viewport height */
    top: 1%;
    left: 1%;
    position: absolute;
    padding: 20px;
    background-color: var(--gray-bg-2);
    border-radius: 40px;
    overflow-y: hidden;
}

#cellsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr); /* Ensure rows are equal height */
    gap: 20px;
    height: 100%; /* Ensure it uses the full height */
}

@keyframes scrollUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-240px - 20px)); /* fixed box height and padding */
    }
}

.none {
    animation: none;
} 

.trigger-scrollUp {
    animation: scrollUp 0.5s ease forwards;
}