:root {
    --primary-bg-prime: #6FC2EC;
    --primary-bg-seconde: #9EE090;
    --primary-bg-terze: #FFEA70;
    --primary-bg-quarte: #F5B17A;
    --primary-bg-quinte: #EF9C81;
    --gray-bg-1: #D9D9D9;
    --gray-bg-2: #EBEBEB;
    --gray-bg-3: #cecece;
    --black-txt-1: #202020;
    --black-txt-2: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

body {
    font-family: "Noto Sans", system-ui, -apple-system, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--gray-bg-1);
}

.bg-class-1 {
    background-color: var(--primary-bg-prime);
}
.bg-class-2 {
    background-color: var(--primary-bg-seconde);
}
.bg-class-3 {
    background-color: var(--primary-bg-terze);
}
.bg-class-4 {
    background-color: var(--primary-bg-quarte);
}
.bg-class-5 {
    background-color: var(--primary-bg-quinte);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    ;
    font-feature-settings: 'liga' 1;
    font-variant-ligatures: contextual;
    line-height: 1;
}

.hidden {
    display: none;
}

.cellContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.className {
    text-align: center;
    font-size: 50px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    margin: 0 5%;
}

.icon {
    font-size: 42px;
    align-items: center;
    margin: auto 0;
    justify-content: center;
}

.roomText {
    margin-left: 10px;
    font-size: 42px;
    max-width: 90%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.grid-hr {
    width: 90%;
    height: 2px;
    border-radius: 2px;
    border: none;
    background-color: var(--black-txt-2);
}

.groupContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: calc(98% - 40px);
    height: calc(100% - 70px);
    top: 1%;
    left: 1%;
    position: absolute;
    padding: 20px;
    background-color: var(--gray-bg-2);
    border-radius: 40px;
    overflow: hidden;
    z-index: 1;
}

#cellsWrapper {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    width: calc(100% - 40px);
    height: 100%;
}

@keyframes scrollUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(var(--scroll-distance, calc(-240px - 20px)));
    }
}

@keyframes appearUp {
    from {
        /* position: absolute; */
        /* transform: translateY(50%); */
        scale: 0.85;
        opacity: 0;
    }
    to {
        /* position: inherit; */
        transform: translateY(0);
        scale: 1;
        opacity: 1;
    }
}

.none {
    animation: none;
} 

.trigger-scrollUp {
    animation: scrollUp linear forwards;
}

#toggleSettingsBtn {
    opacity: 0;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    transition: 0.2s ease;
}

#toggleSettingsBtn:hover {
    opacity: 0.6;
}

#settingsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    z-index: 2;
}

#settingsContainer {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    height: fit-content;
    background-color: var(--gray-bg-1);
    border-radius: 30px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.15);
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    h2 {
        text-align: center;
        font-size: 32px;
    }
    hr {
        width: 100%;
        background-color: var(--black-txt-1);
        margin: 20px 0;
    }
}

#saveSettingsBtn {
    font-family: "Noto Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 40px;
    border: solid 2px var(--gray-bg-2);
    width: fit-content;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

#saveSettingsBtn:hover {
    background-color: var(--gray-bg-3);
    scale: 1.025;
}

.settingsGrid {
    display: grid;
    grid-template-columns: 1fr 30%;
    justify-content: left;
    gap: 10px;
}

#dayAndHourSelector {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    border-radius: 5px;
    border: solid 1px var(--black-txt-1);
}